@model IEnumerable<VENUERP.ViewModels.ERP.ShowMenuItems>

<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

<br />
<a href="/Home/Index" style="color:yellow">DASHBOARD</a>
@if (Model.Any(x => x.Pages == "BrandMasters" || x.Pages == "CategoryMasters" || x.Pages == "ItemMasters" || x.Pages == "SupplierMasters" || x.Pages == "CustomerMasters"))
{
<button class="dropdown-btn">
    MASTER
    <i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
    @if (Model.Any(x => x.Pages == "BrandMasters"))
    {
        <a href="/BrandMasters/Index">BRAND MASTER</a>
    }
    @if (Model.Any(x => x.Pages == "CategoryMasters"))
    {
        <a href="/CategoryMasters/Index">CATEGORY MASTER</a>
    }

    @if (Model.Any(x => x.Pages == "ItemMasters"))
    {
        <a href="/ItemMasters/Index">ITEM MASTER</a>
    }

    @if (Model.Any(x => x.Pages == "SupplierMasters"))
    {
        <a href="/SupplierMasters/Index">SUPPLIER MASTER</a>
    }

    @if (Model.Any(x => x.Pages == "CustomerMasters"))
    {
        <a href="/CustomerMasters/Index">CUSTOMER MASTER</a>
    }
     
</div>
}

@if (Model.Any(x => x.Pages == "PurchaseMasters" || x.Pages == "SalesMasters" || x.Pages == "QuotationMasters" || x.Pages == "ISalesMasters" || x.Pages == "IQuotationMasters"))
{
<button class="dropdown-btn">
    TRANSACTION
    <i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
    @if (Model.Any(x => x.Pages == "PurchaseMasters"))
    {
        <a href="/PurchaseMasters/Index">PURCHASE</a>
    }

    @*<a href="/PurchaseReturnMasters/Index">PURCHASE RETURN</a>*@
    @if (Model.Any(x => x.Pages == "SalesMasters"))
    {
        <a href="/SalesMasters/Index">SALES</a>
    }

    @*<a href="/SalesReturnMasters/Index">SALES RETURN</a>*@
    @if (Model.Any(x => x.Pages == "QuotationMasters"))
    {
        <a href="/QuotationMasters/Index">QUOTATION</a>
    }

    @if (Model.Any(x => x.Pages == "ISalesMasters"))
    {
        <a href="/ISalesMasters/Index">I-SALES</a>
    }

    @if (Model.Any(x => x.Pages == "IQuotationMasters"))
    {
        <a href="/IQuotationMasters/Index">I-QUOTATION</a>
    }


    @*<a href="/CashPayment/Index">CASH PAYMENT</a>
        <a href="/CashReceived/Index">CASH RECEIVED</a>*@
</div>
}

@if (Model.Any(x => x.Pages == "CashPayment" || x.Pages == "CashReceived"))
{
<button class="dropdown-btn">
    PAYMENTS
    <i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
    @if (Model.Any(x => x.Pages == "CashPayment"))
    {
        <a href="/CashPayment/Index">CASH PAYMENT</a>
    }

    @if (Model.Any(x => x.Pages == "CashReceived"))
    {
        <a href="/CashReceived/Index">CASH RECEIVED</a>
    }

    @*<a href="#">SALES</a>
        <a href="#">SALES RETURN</a>
        <a href="#">QUOTATION</a>
        <a href="#">PAYMENT</a>
        <a href="#">TRIAL BALANCE</a>
        <a href="#">BALANCE SHEET</a>*@

</div>
}
@*<button class="dropdown-btn">
    STATEMENT
    <i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
 

</div>*@
@if (Model.Any(x => x.Pages == "CompanyMasters" || x.Pages == "BankMasters" || x.Pages == "UserRoles" || x.Pages == "MapPages" || x.Pages == "PermissionsRoles" || x.Pages == "Logins"))
{
<button class="dropdown-btn">
    UTILITIES
    <i class="fa fa-caret-down"></i>
</button>
<div class="dropdown-container">
    @if (Model.Any(x => x.Pages == "CompanyMasters"))
    {
        <a href="/CompanyMasters/Index">COMPANY MASTER</a>
    }

    @if (Model.Any(x => x.Pages == "BankMasters"))
    {
        <a href="/BankMasters/Index">BANK MASTER</a>
    }
    @if (Model.Any(x => x.Pages == "UserRoles"))
    {
        <a href="/UserRoles/Index">USER ROLES</a>
    }

    @if (Model.Any(x => x.Pages == "MapPages"))
    {
        <a href="/MapPages/Index">MAP PAGES</a>
    }

    @if (Model.Any(x => x.Pages == "PermissionsRoles"))
    {
        <a href="/PermissionsRoles/Index">PERMISSION ROLES</a>
    }

    @if (Model.Any(x => x.Pages == "Logins"))
    {
        <a href="/Logins/Index">USERS</a>
    }

</div>
}
 
<a href="/Home/About" style="color:greenyellow">ABOUT</a>

<a href="/Home/Login" style="color:red">LOG OUT</a>

 


<script>

    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;

    for (i = 0; i < dropdown.length; i++) {
        dropdown[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var dropdownContent = this.nextElementSibling;
            if (dropdownContent.style.display === "block") {
                dropdownContent.style.display = "none";
            } else {
                dropdownContent.style.display = "block";
            }
        });
    }
</script>

