<input type="hidden" id="SalesMastersController" value="SalesMastersController" />

<a href="Create"><Button class="btn-success"><span class="glyphicon glyphicon-plus">ADD</span></Button> </a>
<h4>SALES/INDEX</h4>

<div class="row">
    <div class="col-sm-12">
        <table class="table table-bordered table-striped" id="tblStudent">
            <thead>
                <tr style="background-color:maroon;color:white">
                    <th scope="col">No</th>
                    <th scope="col">Date</th>
                    <th scope="col">Name</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Print</th>
                    <th scope="col">Edit </th>
                    <th scope="col">Delete </th>
                </tr>
            </thead>
        </table>
    </div>
</div>


